<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GeoPhy" preserve-order="true">
    <parameter name="reTry" value="0"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="gridUrl" value="http://selenium__standalone-chrome:4444/wd/hub"/>
    <parameter name="env" value=""/>
    <parameter name="____" value="____"/>

    <test name="Tests">
        <classes>
            <class name="Frontend.testCases.ScenarioLogin"> </class>
            <class name="Frontend.testCases.ScenarioValuation"> </class>
            <class name="Frontend.testCases.ScenarioValuationReport"> </class>
        </classes>
    </test>
</suite>
