## Maven Circleci 2.0 config file
## More details: https://circleci.com/docs/2.0/language-java/
#
#version: 2
#jobs:
#  build:
#    docker:
#      - image: circleci/openjdk:8u222-jdk
#      - image: docker:dind
#      - image: selenium/standalone-chrome:latest
#
#    steps:
#      - checkout
#      - restore_cache:
#          keys:
#              - v1-dependencies-{{ checksum "pom.xml" }}
#              # fallback to using the latest cache if no exact match is found
#              - v1-dependencies-
#      - run: mvn dependency:go-offline
#      - save_cache:
#            paths:
#                - ~/.m2
#            key: v1-dependencies-{{ checksum "pom.xml" }}
#      - run: mvn clean test -Dtest=ScenarioValuationReport -DreTry=2 -Dbrowser -Denv -DgridUrl=http://selenium__standalone-chrome:4444/wd/hub
#      - store_test_results:
#          path: /builds/Aj821990/GeoPhyChallenge/reports/
#      - store_artifacts:
#          path: target/artifact.jar
